{% extends "base_email.html" %}

{% block title %}See You at Dinner in the Woods!{% endblock title %}

{% block body %}

  <p>We have you down for Dinner in the Woods (June 2nd, 2018).</p>

  <p>Print or show this email at the registration table for quick check-in.</p>

  <img src="{{ order.qrcode_url }}" alt="" />


  <table width="400" style="max-width: 420px;">
    <tbody>
    <tr class="table-row-header">
      <th colSpan="2">Personal Information</th>
    </tr>
    <tr>
      <td style="text-align: right;">Name:</td>
      <td>{{ order.name }}</td>
    </tr>
    <tr>
      <td style="text-align: right;">Email:</td>
      <td>{{ order.email }}</td>
    </tr>
    <tr>
      <td style="text-align: right;">Phone:</td>
      <td>{{ order.phone }}</td>
    </tr>
    <tr>
      <td style="text-align: right; white-space: nowrap">NCI Parent/Guardian:</td>
      <td>{{ order.is_parent_guardian }}</td>
    </tr>
    <tr>
      <td style="text-align: right;">Newsletter:</td>
      <td>{{ order.newsletter_subscribe }}</td>
    </tr>

    <tr style="background: #dddddd">
      <th colSpan="2">Ticket & Event Preferences</th>
    </tr>
    <tr>
      <td style="text-align: right;">Tickets:</td>
      <td>{{ order.ticket_qty }}</td>
    </tr>
    <tr>
      <td style="text-align: right;">Reserved Cabana:</td>
      <td>{{ order.wants_cabana }}</td>
    </tr>
    <tr>
      <td style="text-align: right;">Valet Parking:</td>
      <td>{{ order.additional_valet_count }}</td>
    </tr>

    {% if order.defer_guest_list %}
      <tr style="background: #dddddd" }}>
        <th colSpan="2">Guest List</th>
      </tr>
    {% endif %}
    {% if order.defer_guest_list %}
      <tr>
        <td colspan="2" style="vertical-align: top">
          Please contact us with your guests names as soon as you can so we can assure their name is listed at your table.
        </td>
      </tr>
    {% else %}
      <tr>
        <td style="text-align: right; vertical-align: top">Yours Guests:</td>
        <td style="vertical-align: top">
          {{ order.guest_list }}
        </td>
      </tr>
    {% endif %}

    <tr>
      <td style="text-align: right;">Dietary Restrictions:</td>
      <td>
        <ul>
          <li>Vegetarian: {{ order.has_vegetarian_restriction }} ({{ order.vegetarian_count }})</li>
          <li>Vegan: {{ order.has_vegan_restriction }} ({{ order.vegan_count }})</li>
          <li>Dairy: {{ order.has_dairy_restriction }} ({{ order.dairy_count }})</li>
          <li>Gluten: {{ order.has_gluten_restriction }} ({{ order.gluten_count }})</li>
      </td>
    </tr>

    <tr>
      <td style="text-align: right;">Food Allergies:</td>
      <td>{{ order.food_allergen_notes }}</td>
    </tr>

    <tr style="background: #dddddd">
      <th colSpan="2">On-site Childcare</th>
    </tr>

    <tr>
      <td style="text-align: right; vertical-align: top">Children:</td>
      <td style="vertical-align: top">
        <ul style="margin: 0px; padding-left: 15px">
          {{ order.childcare_children }}
        </ul>
      </td>
    </tr>

    <tr style="background: #dddddd">
      <th colSpan="2">Payment Details</th>
    </tr>
    <tr>
      <td style="text-align: right;">Payment Method:</td>
      <td>{{ order.payment_method }}</td>
    </tr>

    <tr>
      <td style="text-align: right; white-space: nowrap">Additional Contributions:</td>
      <td>${{ order.additional_donation }}</td>
    </tr>

    <tr>
      <td style="text-align: right;">Total Price:</td>
      <td><strong>{{ order.total_price }}.00</strong></td>
    </tr>



    </tbody>
  </table>


{% endblock body %}
